{% extends "basic/layout.html" %}

{%- block extrahead %}
{{ super() }}
{% if theme_canonical_url %}
<link rel="canonical" href="{{ theme_canonical_url }}{{ pagename }}.html"/>
{% endif %}
<meta name="viewport"
      content="width=device-width, initial-scale=0.9, maximum-scale=0.9"/>
{% endblock %}


{##
Remove existing top+bottom related nav, and embed in main content
#}
{%- block relbar1 %}{% endblock %}
{%- block relbar2 %}{% endblock %}


{%- block content %}
<div class="grid-container">

  {{ navigation() }}

  <div class="grid-x align-center">
    <div id="menu-container" class="cell small-12 small-centered">
      <div data-responsive-toggle="example-menu"
           data-hide-for="medium">
        <button class="menu-icon"
                type="button"
                data-toggle="example-menu"></button>
        <div class="title-bar-title">Menu</div>
      </div>

      <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#">{{ _('Navigation') }}</a>
              {{ toc }}
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </div>
        <div id="nav-right" class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li>
              <button type="button" class="button">Search</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="shrink cell small-12 small-centered">
      <div id="page-content">
        <div id="wrapper">
          {%- block document %}
          {% block body %}
          {% endblock %}
          {%- endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{%- endblock %}


{%- block footer %}
{{ super() }}
<script src="_static/main.js"></script>
{%- endblock %}


{%- macro navigation() %}
<nav>
  <div class="grid-x align-center">
    <div class="cell small-12 medium-6 small-centered">
      <h1 id="site-name">
        <a href="#">{{ project }}</a>
      </h1>
    </div>
    <div id="linked-pages" class="cell large-6">
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="http://github.com/cblegare">
            <img src="{{ pathto('_static/images/github-mark-light.png', 1) }}"/>
          </a>
        </li>
        <li>
          <a href="http://gitlab.com/cblegare">
            <img src="{{ pathto('_static/images/gitlab.png', 1) }}"/>
          </a>
        </li>
      </ul>
    </div>
</nav>
{%- endmacro %}


{%- macro old_nav() %}
<div class="related" role="navigation" aria-label="related navigation">
  <h3>{{ _('Navigation') }}</h3>
  <ul>
    {%- for rellink in rellinks %}
    <li class="right" {% if loop.first %}style="margin-right: 10px" {% endif %}>
      <a href="{{ pathto(rellink[0]) }}" title="{{ rellink[1]|striptags|e }}"
         {{ accesskey(rellink[2]) }}>{{ rellink[3] }}</a>
      {%- if not loop.first %}{{ reldelim2 }}{% endif %}
    </li>
    {%- endfor %}
    {%- block rootrellink %}
    <li class="nav-item nav-item-0"><a href="{{ pathto(master_doc) }}">{{
      shorttitle|e }}</a>{{ reldelim1 }}
    </li>
    {%- endblock %}
    {%- for parent in parents %}
    <li class="nav-item nav-item-{{ loop.index }}"><a href="{{ parent.link|e }}"
                                                      {% if loop.last %}{{
                                                      accesskey("U") }}{% endif
      %}>{{ parent.title }}</a>{{ reldelim1 }}
    </li>
    {%- endfor %}
    {%- block relbaritems %} {% endblock %}
  </ul>
</div>
{%- endmacro %}
