// 
// Custom styles
//

html {
  height:               100%;
}

li {
  list-style-position:  inside;
}

p {
  text-align:           justify;
  code {
    font-weight:        normal;
    color:              #585858;
  }
  a {
    color:              #000080;
  }
}

.translation-link {
  font-family:        $header-font-family;
  font-size:          small;
  text-align:         right;
}

.post-head-links {
  margin:               2em 0em 2em 0em;   
}

.highlight {
  background-color:     #000000;
  padding:              0.5em 0.5em 0.1em 0.5em;
  margin:               0em 0em 1.25em 0em;
  overflow-x:           auto;
  font-size:            small;
 
  pre {
    padding:            0em 0em 0em 0em;
    margin:             0em 0em 0.5em 0em;
    background-color:   #000;
    code { 
    }
  }
}

.post-list {
  font-family:          $header-font-family;
}

.post-list-translation {
  margin:               0em 0em 0em 1em;
}

.anchor-link {
  color:                #DDD;
  font-size:            80%;
  padding:              0em 0em 0em 0.5em;
}

time {
  font-family:          $header-font-family;
  color:                #BBB;
}

.free-translation:before {
  content:              "traduction libre:";
  color:                #BBB;
}

#copy-notice {
  p {
    color:              #999;
    text-align:         center;
    font-family:        $header-font-family;
  }
}

nav {
  margin:               1em 1em 1em 1em;

  li {
    .menu-text {
      a {
        padding:          0em 0em 0em 0em;
      }
    }
  }
  #site-name {
    margin:             0em 0em 0em 0em;
    a{
      color:            #AAA;
    }
  }
  
  #nav-right {
    ul {
      text-align:       right;
      
      li {
        a {
          font-family:  $header-font-family;
          color:        #bbb;
          text-shadow:  #333 1px 0 2px;
          img {
            height:     1.5em;
            width:      1.5em;
          }
        }
      }
    }
  }
  
  #linked-pages {
    ul {
      display:          block;
      float:            right;
      margin:           1.5em 1em 0.5em 1em;
      text-align:       right;
      padding:          0em 0em 1em 0em;
      
      li {
        display:        inline;
        margin:         0.5em;
        a {
          font-family:  $header-font-family;
          color:        #bbb;
          text-shadow:  #333 1px 0 2px;
          img {
            height:     1.5em;
            width:      1.5em;
          }
        }
      }
    }
  }
}



body {
  ghimage: url(../images/github-mark-light.png);
  glimage: url(../images/gitlab.png);
  background-image:       url(../images/dark_mosaic.png);
  min-height:             100%;
  
  #page-content {
  
    #wrapper {
      padding:            2em 4em 1em 4em;
      border-radius:      0.25em;
      box-shadow:         .1em .2em .2em .2em #000;
      top:                -50px;
      background-color:   #ffffff;
    }
   
  }
}
